data/MIT_05_2024/notarget/output/notarget_fit.root
data/MIT_05_2024/heterotarget/output/heterotarget_fit.root
data/MIT_05_2024/homotarget/output/homotarget_fit.root
data/MIT_05_2024/notarget/input/*.root
data/MIT_05_2024/heterotarget/input/*.root
data/MIT_05_2024/homotarget/input/*.root
data/MIT_04_2024/
data/MIT_05_2024/
data/MIT_12_2024/
data/MIT_11_2024/
data/simulation/notarget/input/*.root
data/simulation/homotarget/input/*.root
data/simulation/heterotarget/input/*.root

beamtime/MIT_05_2024/
beamtime/*.root
beamtime/*.csv
beamtime/old/*.root
simulation/detector/data_analysis/*.root
simulation/detector/data_analysis/raw_data_p.root
simulation/detector/data_analysis/beam2/*.root
simulation/detector/data_analysis/heterogeneous/*.root
simulation/detector/data_analysis/homogeneous/*.root
.vscode
*.png
*.pdf
simulation/theory/data_analysis/raw_data*.root
simulation/theory/data_analysis/analysed_data_muon.root
simulation/theory/data_analysis/data*.root
simulation/detector/data_analysis/raw_data_muon.root
simulation/theory/data_analysis/h2o/raw_data*.root
simulation/theory/data_analysis/pbwo4/raw_data*.root
simulation/range_energy/data_analysis/DSB/
simulation/range_energy/data_analysis/EJ256/
simulation/range_energy/data_analysis/EJ254/
simulation/range_energy/data_analysis/ej212
simulation/range_energy/data_analysis/pmma/
simulation/range_energy/data_analysis/alu/
simulation/range_energy/data_analysis/teflon/
simulation/detector/constructs/
simulation/detector/DICOM/
